@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    /* This line could be changed later. */
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #0b1320;
    /* display: grid;
    place-items: center; */
    color: #fff;
}

body::-webkit-scrollbar {
    /* This is a new function. */
    display: none;
}

header {
    width: 100%;
    height: 10%;
    /* border:1px solid #fff; */
    display: flex;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
}

header .right_side,
.left_side {
    /* border: 1px solid #fff; */
    /* box-shadow: 5px 0px 2px #090f1f; */
    color: #fff;
}

header .left_side {
    width: 25%;
}

header .left_side img#logo {
    max-width: 50%;
    margin: 15px 0px 10px 20px;
}

header .right_side {
    width: 75%;
    display: flex;
}

header .right_side nav {
    width: 90%;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right_side nav ul {
    display: flex;
}

header .right_side nav ul li {
    list-style: none;
    position: relative;
    font-size: 16px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

header .right_side nav ul li a {
    text-decoration: none;
    color: #4c5262;
    transition: 0.3s linear;
}

header .right_side nav ul li a:hover {
    color: #fff;
}

/* The two functions below this comment are Very Important. */

header .right_side nav ul li:nth-child(2) {
    color: #fff;
}

header .right_side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .right_side nav .search {
    position: relative;
    height: 30px;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
    background: rgb(184, 184, 184, 0.1);
    backdrop-filter: blur(5px);
}

header .right_side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 5px;
}

header .right_side nav .search input {
    background: none;
    border: none;
    /* border: 1px solid #fff; */
    width: 90%;
    outline: none;
    padding: 5.5px 10px 0px 10px;
    font-size: 14px;
    color: #fff;
}

.start {
    position: relative;
    top: 10%;
}

/* Custom CSS for Log In Button */

.button-63 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 20px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {

    /* Change this for Customization */
    .button-63 {
        font-size: 16px;
        min-width: 10%;
        max-height: 30px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto -10px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}