@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    /* This line could be changed later. */
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}

body::-webkit-scrollbar {
    /* This is a new function. */
    display: none;
}

header {
    width: 100%;
    height: 100%;
    /* border:1px solid #fff; */
    display: flex;
}

header .right_side,
.left_side {
    /* border: 1px solid #fff; */
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .left_side {
    width: 25%;
    background: #111727;
}

header .left_side img#logo {
    max-width: 50%;
    margin: 15px 0px 10px 20px;
}

.stack {
    margin-top: 10px;
}

.stackItem {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
}

.stackItem label {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 10px;
}

.stackItem label img {
    width: 50px;
    height: 50px;
}

.requirementCheckbox {
    margin-left: 20px;
}

header .right_side {
    width: 75%;
    background: #0b1320;
}

header .right_side nav {
    width: 90%;
    height: 72px;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right_side nav ul {
    display: flex;
}

header .right_side nav ul li {
    list-style: none;
    position: relative;
    font-size: 16px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

header .right_side nav ul li a {
    text-decoration: none;
    color: #4c5262;
    transition: 0.3s linear;
}

header .right_side nav ul li a:hover {
    color: #fff;
}

/* The two functions below this comment are Very Important. */

header .right_side nav ul li:nth-child(1) {
    color: #fff;
}

header .right_side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .right_side nav .search {
    position: relative;
    height: 30px;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
    background: rgb(184, 184, 184, 0.1);
    backdrop-filter: blur(5px);
}

header .right_side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 5px;
}

header .right_side nav .search input {
    background: none;
    border: none;
    /* border: 1px solid #fff; */
    width: 90%;
    outline: none;
    padding: 5.5px 10px 0px 10px;
    font-size: 14px;
    color: #fff;
}

/* Custom CSS for Log In Button */

.button-63 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 20px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {

    /* Change this for Customization */
    .button-63 {
        font-size: 16px;
        min-width: 10%;
        max-height: 30px;
    }
}

/* New CSS Here */

.projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}
 
.card {
    font-family: 'Sono', sans-serif;
    flex: 1;
    max-width: 40vw;
    padding: 20px;
    background-color: #414141;
    border-radius: 5px;
    text-align: center;
    color: white;
    border-radius: 20px;
    flex-direction: column;
    margin: 30px auto;
}

.difficulty {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.name {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.require {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}

.card h3 {
    padding-bottom: 15px;
}

.require li {
    margin-bottom: 15px;
}

.link, .todo {
    padding: 10px;
    margin: auto 5px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.projectsContainer ul li {
    font-size: 20px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1250px) {
    .projectsContainer {
        flex-direction: column;
        height: 100%;
    }
}